<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <!-- bootstrap   -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body >
<div class="header">
    <h1>Welcome to my website!</h1>
</div>
<br>
<!--sumbit button-->
<input type="submit" value="Login" class="btn btn-danger">
<h1>Home page</h1>
<!--image-->
<img src="/static/images/796832.jpg" alt="image"height="200" width="200">
</body>
</html>